// bootstrap defaults
// $zindex-navbar:                      1000;
// $zindex-dropdown:                    1000;
// $zindex-popover:                     1060;
// $zindex-tooltip:                     1070;
// $zindex-navbar-fixed:                1030;
// $zindex-modal-background:            1040;
// $zindex-modal:                       1050;

$zindex-corner-check: 10;

$zindex-photo-commands: 11;
$zindex-photo-count: 11;
$zindex-product-tags: 11;

$zindex-btn-plain: 100;
$zindex-debug-info: 100;

$zindex-photo-spot: 100;

$zindex-draggable-handle: 100;
$zindex-resizable-handle: 101;
$zindex-rotate-handle: 101;

$zindex-photo-spot-resolution-warning: 198;

$zindex-text-spot: 200;

$zindex-cropping-guides: 300;

$zindex-btn-pager: 500;
$zindex-spot-toolbar: 500;
$zindex-spot-tool-editor: 500;
$zindex-resources-panel-tip: 500;
$zindex-photo-spot-drop-indicator: 500;
$zindex-text-spot-textarea: 500;
$zindex-ui-proxy: 500;

$zindex-resolution-warning: 600;
$zindex-projects-page-featured-items: 601;
$zindex-page-caption-fixed: 602;

$zindex-collections-panel: 1000;
$zindex-products-panel: 1000;
$zindex-resources-panel: 1000;

$zindex-aviary-background: 1031;
$zindex-aviary-controls: 1032;
$zindex-imgly: 1032;

$zindex-busy-background: 1035;
$zindex-dropdown-menu: 1036; // overrides bootstrap's $zindex-dropmenu = 1000

$zindex-version-info: 9999;

$zindex-loading-bar: 20000;

